@import url(https://fonts.googleapis.com/css?family=Pirata+One);
@import url(https://fonts.googleapis.com/css?family=Raleway);

.fancy_header {
	font-family:Pirata One;
	font-size:8em;
	display:flex;
	flex-grow:1;
	flex-basis:98%;
	justify-content: center;
	align-items:stretch;
	margin-top:2em;
	text-decoration: none;
	color:black;
}



.instructions {
	display:none;

}

.fancy_instructions,
.start {
	font-family:Raleway;
	font-size:1em;
	text-align:center;
}